

body {
       margin-left: auto;
       margin-right: auto;
       width: 940px;
}

h1{
	padding: 10px;
}
p{
text-align: justify;
text-indent: 30px;


}

figure {
	background-color: #F2EDED;
	border: 1px solid #ccc;
	text-align: center;
}

figcaption{

	font-style: italic;
}

