img {
    max-height: 190px;
}

#nameInThumb {
    text-align: center;
    color: black;
}

#nameInThumb h4 {
    color: black;
}

.thumbnail button {
    text-align: center;
    color: darkblue;
    font-weight: bolder;
}

.thumbnail {
	text-align: center;
    border-radius: 50%;
    background-color: rgba(128, 64, 0, 0.4);
}

#carregandoHome {
    margin-bottom: 20px;
}