body{
    background: url("../../img/background.jpg") center 0px no-repeat rgb(0, 0, 0);
    padding-top: 70px;
}

#div_secundaria{
    margin: 0 auto;
    width: 1000px;
    padding: 0 50px;
    background-color: rgba(255,255,255,0.93);
}

h3 {
    text-align: center;
}

hr {
    border-color: black;
}

#footer_container{
    background-color: rgb(50,50,50);
    color: grey;
}